<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap" rel="stylesheet">

<div class="destination-content">
    <div class="container">
        <div class="titulo-dest p-3">
            <h3><b>01 </b><span style="color:rgb(255, 255, 255)">PICK YOUR DESTINATION</span></h3>
        </div>

        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 p-1">
                <ul class="nav" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active text-white" id="moon-tab" data-bs-toggle="tab" data-bs-target="#moon"
                            type="button" role="tab" aria-controls="moon" aria-selected="true">MOON</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white" id="mars-tab" data-bs-toggle="tab" data-bs-target="#mars"
                            type="button" role="tab" aria-controls="mars" aria-selected="false">MARS</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white" id="europa-tab" data-bs-toggle="tab" data-bs-target="#europa"
                            type="button" role="tab" aria-controls="europa" aria-selected="false">EUROPA</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-white" id="titan-tab" data-bs-toggle="tab" data-bs-target="#titan"
                            type="button" role="tab" aria-controls="titan" aria-selected="false">TITAN</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="tab-content" id="Content">
            <div class="tab-pane fade show active" id="moon" role="tabpanel" aria-labelledby="moon-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="imagen">
                            <img src="/assets/destination/image-moon.png" alt="" width="350">
                        </div>
                    </div>
                    <div class="col-sm-6 p-1">
                        <div class="texto col text-white">
                            <h1>MOON</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolorum tenetur
                                dignissimos odit quas. Id voluptatibus optio eius enim, cupiditate reiciendis
                                asperiores, praesentium consectetur, nihil dolore nostrum provident eligendi iusto.</p>
                            <hr>
                            <table class="table text-white">
                                <tr>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">AVG. DISTANCE</th>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">EST. TRAVEL TIME</th>
                                </tr>
                                <tr>
                                    <td class="cifras">225 MIL. KM</td>
                                    <td class="cifras">9 MONTHS</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" id="Content">
            <div class="tab-pane fade" id="mars" role="tabpanel" aria-labelledby="mars-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="imagen">
                            <img src="/assets/destination/image-mars.png" alt="" width="350">
                        </div>
                    </div>
                    <div class="col-sm-6 p-1">
                        <div class="texto col text-white">
                            <h1>MARS</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolorum tenetur
                                dignissimos odit quas. Id voluptatibus optio eius enim, cupiditate reiciendis
                                asperiores, praesentium consectetur, nihil dolore nostrum provident eligendi iusto.</p>
                            <hr>
                            <table class="table text-white">
                                <tr>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">AVG. DISTANCE</th>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">EST. TRAVEL TIME</th>
                                </tr>
                                <tr>
                                    <td class="cifras">225 MIL. KM</td>
                                    <td class="cifras">9 MONTHS</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content" id="Content">
            <div class="tab-pane fade" id="europa" role="tabpanel" aria-labelledby="europa-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="imagen">
                            <img src="/assets/destination/image-europa.png" alt="" width="350">
                        </div>
                    </div>
                    <div class="col-sm-6 p-1">
                        <div class="texto col text-white">
                            <h1>EUROPA</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolorum tenetur
                                dignissimos odit quas. Id voluptatibus optio eius enim, cupiditate reiciendis
                                asperiores, praesentium consectetur, nihil dolore nostrum provident eligendi iusto.</p>
                            <hr>
                            <table class="table text-white">
                                <tr>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">AVG. DISTANCE</th>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">EST. TRAVEL TIME</th>
                                </tr>
                                <tr>
                                    <td class="cifras">225 MIL. KM</td>
                                    <td class="cifras">9 MONTHS</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="tab-content" id="Content">
            <div class="tab-pane fade" id="titan" role="tabpanel" aria-labelledby="titan-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="imagen">
                            <img src="/assets/destination/image-titan.png" alt="" width="350">
                        </div>
                    </div>
                    <div class="col-sm-6 p-1">
                        <div class="texto col text-white">
                            <h1>TITAN</h1>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore dolorum tenetur
                                dignissimos odit quas. Id voluptatibus optio eius enim, cupiditate reiciendis
                                asperiores, praesentium consectetur, nihil dolore nostrum provident eligendi iusto.</p>
                            <hr>
                            <table class="table text-white">
                                <tr>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">AVG. DISTANCE</th>
                                    <th style="font-size: 10; color: rgb(141, 141, 141);">EST. TRAVEL TIME</th>
                                </tr>
                                <tr>
                                    <td class="cifras">225 MIL. KM</td>
                                    <td class="cifras">9 MONTHS</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>