body {
  background-image: url(/assets/destination/background-destination-desktop.jpg);
}

.titulo-dest {
  margin-left: 100px;
  color: rgb(151, 151, 151);
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;

}

.tab-pane {
  margin-left: 50px;
  max-width: 850px;
  min-width: none;
  margin-top: 10px;

}

.imagen {
  width: 70%;
}

.texto {
  width: 70%;
}

.table {
  border: hidden
}

.tr{
  border: hidden
}

.th {
  border: hidden
}

.td {
  border: hidden;
}

.nav{
  background: none;
}

