@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Roboto+Condensed:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

.destination-content {
  background-image: url(/assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.d-flex {
  display: flex;
  gap: 2rem;
}

.titulo-dest {
  margin-left: 100px;
  color: rgb(151, 151, 151);
  font-family: 'Roboto Condensed', sans-serif;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;

}

.tab-pane {
  margin-left: 50px;
  max-width: 850px;
  min-width: none;
  margin-top: 10px;

}

.imagen {
  width: 70%;
}

.texto {
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.texto h1{
  font-size: 55px;
  font-family: var(--font-family-condensed);
}

.table {
  border: hidden
}

.tr{
  border: hidden
}

.th {
  border: hidden
}

.td {
  border: hidden;
}

.nav{
  background: none;
}

.nav-link{
  font-size: 15px;
}

.cifras{
  font-size: 30px;
}
