<div class="crew-page">
  <div class="main-container">
    <div class="container">
      <app-navbar></app-navbar>
    </div>
    <p class="tittle"><span>02</span>Meet your crew</p>
    <div class="content-container">
      <div class="card-container">
        <app-card
          role="Flight Engineer"
          name="Flight Engineer"
          bio="Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. 
         Ansari was the fourth self-funded space tourist, the first self-funded woman to 
         fly to the ISS, and the first Iranian in space."
        ></app-card>
      </div>
      <div class="img-container">
        <img
          src="../../../assets/crew/image-anousheh-ansari.png"
          alt="image-anousheh-ansari"
        />
      </div>
    </div>
  </div>
</div>
