/* Modo Movil */
.hero{
    background-image: url(../../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    padding: .1px ;
    font-family: Arial, Helvetica, sans-serif;
}
.hero__subtitle{
    margin-top: 5rem;
    text-align: center;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hero__title{
    text-align: center;
    margin-top: .4rem;
    font-size: 4.3rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}
.hero_paragraph{
    text-align: center;
    margin-top: 1.1rem;
    padding: 10px 20px;
    color: gray;
    font-size: 0.9rem;
    line-height: 1.7;
}
.hero__circle{
    margin: 0 auto;
    margin-top: 1.4rem;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: white;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}
/* Modo tablet------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    
    .hero{
        background-image: url("../../assets/home/background-home-tablet.jpg");
    }
    
    .hero__subtitle{
        margin-top: 6rem;
        letter-spacing: 1px;
        font-size: 10px;
    }
    .hero__title{
        font-size: 5rem;
        margin-bottom: 16px;
        
    }
    .hero_paragraph{
        width: 56%;
        margin: 0 auto;
        text-align: center;
        
    }
    .hero__circle{
        margin: 0 auto;
        margin-top: 2rem;
        border-radius: 50%;
        height: 180px;
        width: 180px;
        background-color: white;
        color: black;
        text-align: center;
        
        font-size: 1.3rem;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
  }
  /* Modo desktop */
  @media only screen and (min-width: 1024px) {
    .hero{
        background-image: url("../../assets/home/background-home-desktop.jpg");
        background-size: cover;
    }
    .hero__container{
        height: 100%;
        width: 80%;
        margin:  0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .hero_container_text{
        width: 40%;
    }
    .hero_container_circle{
        width: 50%;
    }
    .hero_paragraph{
        width: 100%;
        padding: 0;
        text-align: left;
        font-size: .9rem;
        text-align: justify;
    }
    .hero__subtitle{
        font-size: .9rem;
        text-align: left;
    }
    .hero__title{
        font-size: 6rem;
        text-align: left;
    }
    .hero__circle{
        height: 230px;
        width: 230px;
    }
  }