<nav class="navbar navbar-expand-lg mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/shared/logo.svg" alt="" />
    </a>
    <span class="line-desktop"></span>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- <span class="navbar-toggler-icon" style="color: white"></span> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21">
        <g fill="#D0D6F9" fill-rule="evenodd">
          <path d="M0 0h24v3H0zM0 9h24v3H0zM0 18h24v3H0z" />
        </g>
      </svg>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      style="
        flex-grow: unset;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
      "
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span>00</span> Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            <span>01</span> Destination</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            <span>02</span> Crew</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">
            <span>03</span> Technology</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
