.nav-link {
  padding: 24px;
  color: white !important;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.nav-link.active {
  border-bottom: 3px solid white;
}
#navbarSupportedContent {
  padding-left: 100px;
  padding-right: 100px;
  /* margin-right: -100px; */
}
