.role {
   font-size: 1.2em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
   color: #aaa;
}
.name {
   font-size: 2em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
   color: #fff;
}
.bio {
   font-size: 1em;
   margin-bottom: 0.5em;
   color: #aaa;
   margin-top: 30px;
   line-height: 2em;
}
