/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-text: #d0d6f9;
  --font-family-barlow: "Barlow", sans-serif;
  --font-family-condensed: "Barlow Condensed", sans-serif;
  --font-family-bellefair: "Bellefair", serif;
}
