<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>

<!-- <link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Barlow:wght@400;600;700&display=swap"
  rel="stylesheet"
/> -->

<div class="technology-content">
  <div class="container">
    <h2>
      <span>03</span>
      Space Launch 101
    </h2>

    <div class="d-flex">
      <div class="content-number-info">
        <div class="number">
          <p class="circle bck-circle">1</p>
          <p class="circle circle-two">2</p>
          <p class="circle">3</p>
        </div>
        <div class="info">
          <p class="text">The terminology...</p>
          <h3>Launch vehicle</h3>
          <p class="description">
            A launch vehicle or carrier rocket is a rocket-propelled vehicle
            used to carry a payload from Earth's surface to space, usually to
            Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful
            in operation. Standing 150 metres tall, it's quite an awe-inspiring
            sight on the launch pad!
          </p>
        </div>
      </div>
      <div>
        <img
          src="../../../assets/technology/image-launch-vehicle-landscape.jpg"
          alt=""
          class="d-lg-none"
        />
        <img
          src="../../../assets/technology/image-launch-vehicle-portrait.jpg"
          alt=""
          class="d-none d-lg-block"
        />
      </div>
    </div>
  </div>
</div>
